@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 240 11% 97%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 239 83% 65%;
    --primary-foreground: 0 0% 100%;
    
    --primary-accent: 241 100% 76%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 7%;

    --muted: 240 11% 89%;
    --muted-foreground: 0 0% 46%;

    --accent: 241 100% 76%;
    --accent-foreground: 0 0% 7%;
    
    --success: 145 63% 49%;
    --success-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 11% 89%;
    --input: 240 11% 89%;
    --ring: 239 83% 65%;

    --radius: 1rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
